.swiper {
  width: 90%;
  max-width: 400px;
  height: 90%;
  max-height: 400px;
  margin: auto;
  border-radius: 20px;
} 

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: #FE5000;
  border-radius: 30%;
}

.swiper-slide img {
  display: block;
  margin: auto;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
}
